@import '../../styles/variables';

.container {
    position: absolute;
    width: 100%;
    height: 96%;
    background-color: $introBg;
    color: $introText;
    z-index: 1000;
}

%baseBtn {
    background-color: $introBtnBg;
    color: $introBtnText;
    font-size: x-large;
    margin-top: 100px;
    cursor: pointer;
}

.hideMessage {
    @extend %baseBtn;
    width: 400px;
    height: 60px;
}

.msgActive {
    background-color: $introSavedOption;
}

.start {
    @extend %baseBtn;
    width: 200px;
    height: 100px;
}