.container {
    margin-top: 60px;
    margin-left: -180px;
    width: 260px;
    height: 60px;
    transition: transform 3s ease 0s;
}

.changeCards {
    width: 100px;
    height: 20px;
    background-color: bisque;
}