
@import '../../../styles/variables';

$height: 24px;
$pointerWidth: 24px;

.container {
    position: relative;
}

.audioSlider {
    width: 400px;
    height: $height;
    border: 1px solid $settingsAudioBorder;
    border-radius: 4px;
    background-color: $settingsAudioBg;
    margin: 0 auto;
    margin-bottom: 10px;
}

.audioThumb {
    width: $pointerWidth;
    height: $height;
    background-color: $settingsAudioThumb;
}

.audioTrack {
    width: $pointerWidth;
    height: $height;
    background-color: $settingsAudioTrack;
}