@import '../../styles/variables';

.container {
    position: absolute;
    top: -100px;
    width: 100px;
    height: 100px;
    background-image: url('../../resources/players/opponent.png');
    background-repeat: no-repeat;
    transform: translateY(40px);
    transition: transform 3s ease 0s;

    span {
        font-size: 8px;
        opacity: 0;
    }
}

.stack {
    font-size: smaller;
    color: $oppStackText;
}

.decision {
    width: 70px;
    height: 20px;
    background-color: $oppDecisionBg;
    color: $oppDecisionText;
    transform: translate(-50px, -80px);
}