@import '../../../../../styles/variables';

.button {
    background-color: $betButtonBg;
    border: 1px solid $betButtonBorder;
    border-radius: 4px;
    width: 80px;
    height: 40px;
    color: $betButtonText;
    cursor: pointer;

    &:disabled {
        background-color: $betButtonDisabled;
    }
}