// Theme Main

$orangeBorder: orange;
$roomCover: aqua;

$introBg: bisque;
$introText: rebeccapurple;
$introBtnBg: sandybrown;
$introBtnText: white;
$introSavedOption: gold;

$buttonBoardBg: bisque;
$buttonBoarder: darkgrey;
$buttonBoardDisabler: blanchedalmond;
$chipBorder: orange;
$chipSelected: brown;
$betButtonBg: cornflowerblue;
$betButtonText: wheat;
$betButtonBorder: wheat;
$betButtonDisabled: grey;

$oppDecisionBg: bisque;
$oppDecisionText: brown;
$oppStackText: gainsboro;
$oppChangeCardsBg: bisque;

$settingsBg: antiquewhite;
$settingsNav: #39A2DB;
$settingsItemTip: rgba(50, 224, 196, 0.15);
$settingsItemActive: #39A2DB;
$settingsAudioBg: bisque;
$settingsAudioBorder: orangered;
$settingsAudioThumb: coral;
$settingsAudioTrack: wheat;

$potBg: bisque;
$potText: brown;
$heroSwCardsBg: bisque;

$gameCompleted: bisque;
$heroWin: brown;
$oppWin: blue;